<html (mousemove)="onMove()">
<h1>Aposta Certa</h1>

<nav>
    <a routerLink="/concurso">Concurso</a>
</nav>

<table>
    <h2>Cadastro</h2>
    <tr>
        <td><label>Nome</label></td>
        <td><input [(ngModel)]="apostador.nome"></td>
    </tr>
    <tr>
        <td><label>Email</label></td>
        <td><input [(ngModel)]="apostador.email"></td>
        <td *ngIf="emailDuplicado">Já há um apostador com esse e-mail</td>
    </tr>
    <tr>
        <td><label>Senha</label></td>
        <td><input [(ngModel)]="apostador.senha"></td>
        <td><button (click)="cadastrar(apostador)">Cadastrar-se</button></td>
    </tr>
</table>
<router-outlet></router-outlet>
</html>