<nav>
    <button (click)="sortList()">Data</button>    
</nav>
<table id="concurso">
    <tr *ngFor="let a of apostas">
        <table>
            <tr class="apostas">
                <td class="mandante">
                    {{a.mandante.toUpperCase()}}
                </td>
                <td class="visitante">
                    {{a.visitante.toUpperCase()}}
                </td>
                <td class="data">
                    {{a.data.toUpperCase()}}
                </td>
            </tr>
            <tr class="probabilidades">
                <td name="probabilidadeMandante"></td>
                <td name="probabilidadeEmpate"></td>
                <td name="probabilidadeVisitante"></td>
            </tr>
        </table>        
    </tr>
</table>

<div id="prize">
    PRÊMIO ESTIMADO:
    <h3 name="prize">R$ {{prize}}</h3>
    <h3 name="accumulated">{{accumulated}}</h3>
</div>
