@import url('https://fonts.googleapis.com/css?family=Cairo');

nav {
    width: 65%;
    margin: auto;
    text-align: right;
    padding-right: 10%;
    margin-bottom: 2px;
}

nav button {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    text-decoration: underline; 
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;    
}

nav button:hover {
    cursor: pointer;
}

table {
    width: 65%;
    margin: auto;
    border: 1px solid rgb(200, 200, 200);
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    border-collapse: collapse;
}

tr {
   margin:0;
}

td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 18px;
    margin: 0;
}
.probMandante{
    background-color: white;
    width: 5px;
}
.mandante {
    background-color: rgb(240, 240, 240);
    width: 40%;
}
.probDraw{
    background-color: white;
    width: 5px;
}
.visitante {
    background-color: rgb(245, 245, 245);
    width: 40%;
}
.probVisitante{
    background-color: white;
    width: 5px;
}
.data {
    background-color: rgb(13, 110, 183);
    color: white;
    font-weight: normal;
    width: 20%;
}