@import url('https://fonts.googleapis.com/css?family=Cairo');

nav {
    width: 65%;
    margin: auto;
    text-align: right;
    padding-right: 16%;
    margin-bottom: 2px;
}

nav button {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    text-decoration: underline; 
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;    
}

nav button:hover {
    cursor: pointer;
}

#concurso {
    width: 65%;
    border: 1px solid rgb(200, 200, 200);
}

table {
    width: 100%;
    margin: auto;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    border-collapse: collapse;
}

tr {
   margin:0 0 0 0;
}

tr.probabilidades {
    visibility: collapse;
    color: white;
}

td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 18px;
    margin: 0;
    width: 5%;
    cursor: pointer;
    background-color: rgb(0, 102, 128);
}

.mandante {
    background-color: rgb(240, 240, 240);
    width: 30%;
}

.visitante {
    background-color: rgb(245, 245, 245);
    width: 30%;
}

.data {
    background-color: rgb(13, 110, 183);
    color: white;
    font-weight: normal;
    width: 25%;
}

#prize {
    width: 22%;
    font-family: 'Cairo', sans-serif;
    margin: 15px auto;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.8);
    border-left: 5px solid rgb(13, 110, 183);
    border-right: 5px solid rgb(13, 110, 183);
}

#prize h3 {
    display: inline-block;
    margin: 0 auto;
}

#prize h3[name=accumulated] {
    color: green;
}