<nav>
    <button (click)="sortList()">Data</button>    
</nav>
<table>
    <tr *ngFor="let a of apostas">
        <td class="marcacaoMandante">
            X
        </td>
        <td class="mandante">
            {{a.mandante.toUpperCase()}}
        </td>
        <td class="marcacaoEmpate">
             X   
            </td>
        <td class="visitante">
            {{a.visitante.toUpperCase()}}
        </td>
        <td class="marcacaoVisitante">
              X  
            </td>
        <td class="data">
            {{a.data.toUpperCase()}}
        </td>
    </tr>
</table>