<br/>
<nav>
    <button class="valorProposta" id="valorProposta" (click)="mostrarValor(propostas)" >Valor da proposta</button>    
    <a class="marcacaoBotao" routerLink="/marcacao">Propor marcação</a>
</nav>

<table>
    <tr *ngFor="let a of propostas">
           
        <td class="marcacaoMandante" id={{a.mandante}}>
            {{corPropostas(a.mandante,a.prop_Mandante)}}
        </td>

        <td class="mandante">
            {{a.mandante.toUpperCase()}}
        </td>

        <td class="marcacaoEmpate" id={{a.numeroJogo}}>
            {{corPropostas(a.numeroJogo,a.prop_Empate)}}
        </td>

        <td class="visitante">
            {{a.visitante.toUpperCase()}}
        </td>

        <td class="marcacaoVisitante" id={{a.visitante}}>
            {{corPropostas(a.visitante,a.prop_Visitante)}}
        </td>
        
    </tr>
</table>